/* code couleur
bleu #0bb3e8
bleu foncé #0083b6
magenta #E7169D
magenta foncé #AF006E
*/


/* Raz */
*{
    font-family: 'Ubuntu', sans-serif;
    text-align: justify-all;
}

strong {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

body{
    margin:0 auto;
    padding: 0;
}

a:hover, a:focus {
    text-decoration: none !important;
    color: #0bb3e8;
}

a {
    font-size: 1.2em !important;
    padding-left: 20px;
}

input {
    border: none;
    border-bottom: 3px solid #E7169D;
    border-radius: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif !important;
}

.display_inline_block {
    display: inline-block;
}

.float_left {
    float: left;
}

.font_ubuntu {
    font-family: 'Ubuntu', sans-serif !important;
}

.font_roboto {
    font-family: 'Roboto Slab', serif !important;
}

.bt.focus, .bt:focus, .bt:hover {
    color: black !important;
}

i.focus, i:focus, i:hover {
    color: black !important;
}

.fond_blanc {
    background-color: white;
}

/*----- HEADER-----*/
header{
    background-color: #e7169d;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    line-height: 1.2em;
}

header img{
    max-height:75px;
    margin-top: 8px;
}

header p, header a{ /* voir le vertical align*/
    padding-top: 15px;
}

header a{
    color:white;
}

header a:focus, header a:hover {
    color: black !important;
}

/*----- MENU-----*/
.menu_logo {
    margin-top: 16px;
}


/*----- CAROUSEL-----*/
#carousel h2{
      font-size: 30px;
}

#carousel {
  max-width: 40%;
  margin:auto;
}


/*----- PRESENTATION-----*/
#presentation{
    background-color: #0bb3e8;
    color:white;
    padding: 40px !important;
    margin-top:15px;
    margin-bottom : 25px;
    width: 60%;
    text-align: left;
}

#presentation h1{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 2.5em;
    padding-bottom: 10px;
    margin: 0;
}

#presentation p{
    font-size: 1.1em;
    margin: 0;
}

#en-tete-mes-evenements {
    margin-top: 20px;
    background-color: #AF006E;
}

#en-tete-mes-evenements h2{
    color: white;
    font-size: 1.8em;
    line-height: 1.8em;
}

/*----- BOUTONS EVENEMENTS-----*/
#boutons-evenement{
    background-color: #AF006E;
}

#boutons-evenement a{
    float: right;
    color: white;
    margin-top: 30px;
}

#boutons-evenement h2{
    color: white;
    font-size: 1.8em;
    line-height: 1.8em;
}

#boutons-evenement a:hover, a:focus {
    color: #0bb3e8;
}

/*----- BOUTONS Filtres-----*/
.boutons-filtres {
    background-color: #AF006E;
    float: right;
    color: white;
    margin-top: 30px;
    border: 0;
    font-size: 1.2em;
}

.boutons-filtres.focus, .boutons-filtres:focus, .boutons-filtres:hover {
    color: black !important;
}

/*----- EVENEMENTS-----*/
#evenements, #mes-evenements{
    background-color: #E7169D;
    margin-bottom : 15px;
    padding-bottom : 25px;
}

.evenement-block{
    margin-left:80px;/* voir si meilleur moyen de centrer ??*/
}

.evenement-description{
    background-color: white;
    margin-top:25px;
}

#evenements h2 {  /*mise en forme titres*/
    font-size: 1.2em;
    color: black;
}

#evenements h3 { /*mise en forme catégories*/
    color: #0bb3e8;
    font-size: 1.3em;
    text-align: right;
}

.evenement-description {
    padding: 0 10px;
}

#mes-evenements h2 {  /*mise en forme titres*/
    font-size: 1.2em;
    color: black;
}

#mes-evenements h3 { /*mise en forme catégories*/
    color: #0bb3e8;
    font-size: 1.3em;
    text-align: right;
}

#evenements h4 { /*mise en forme date, heure, public, lieu, département*/
    color: #E7169D;
    font-size: 1.2em;
    text-align: left;
}

.marge-article {
    margin: 0 20px;
}

.marge-article-bloc {
    /*padding: 20px;*/
    width: 98%;
}

#evenements h4 span {
    color: black;
}

#evenements h4 .bleu{
    color: #0bb3e8;
}

.evenement-description img{
    min-width: 99%;
    max-width: 99%;
    margin-bottom: 15px;
  }
#evenements img {
    max-width: 100%;
}

.buttonPlus { /*mise en forme bouton plus*/
    position: absolute;
    background-color: #0bb3e8;
    right: 10px;
    bottom: 10px;
    color:white;
}

.buttonPlus:focus, .buttonPlus:hover {
    background-color: #E7169D !important;
}

/*---- FORMULAIRE ----*/
.form-control {
    border: none !important;
    border-bottom: 3px solid #E7169D !important;
    border-radius: 0 !important;
    margin-top: 5px;
}

#formulaire-creation-compte, #formulaire-contribueur {
    margin-top: 30px;
    margin-bottom: 20px !important;
}

.bt_bleu {
    background-color: #0bb3e8;
    border-radius: 0 !important;
    padding: 10px 20px !important;
    /*margin-top: 10px;*/
    color: white;
    margin: 12px 5px 0 5px;
}

.lien_bleu {
    display: inline-block;
    background-color: #0bb3e8;
    border-radius: 0 !important;
    padding: 10px 20px !important;
    margin: 10px 10px !important;
    color: white;
}

.lien_bleu.focus, .lien_bleu:focus, .lien_bleu:hover {
    color: black !important;
}

button[type="submit"] {
    font-family: 'Roboto Slab', serif !important;
    font-size: 1.2em !important;
    margin-top: 15px;
}

.form-group {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    margin: 10px 10px 0 10px;
}

#CGU {
    margin-top: 20px;
}

input[type=checkbox], input[type=radio], select {
    cursor: pointer;
}

.bt_aide {
    font-weight: bold;
    float: right;
    background-color: #0bb3e8;
    color: black;
    border: none;
}

.bt_aide.focus, .bt_aide:focus, .bt_aide:hover {
    color: white !important;
}


.visuel {
    margin-top: 15px;
}

.marginTop {
    margin-top: 18px;
}

input[type="file"] {
    background-color: #0bb3e8 !important;
}

.label-file {
    cursor: pointer;
    font-weight: bold;
}
.label-file:hover {
    color: black;
}

.input-file {
     display: none !important;
   }

#visuel_evenement {
    width: 260px;
    height: 134px;
}


/*----- FOOTER-----*/
footer{
    background-color: #0083b6;
    color:white;
    margin-top: 15px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 1.2em;
}

footer a{
    color:white;    
}

footer h4 {
    display: inline-block;
    padding-left: 8px;
}


footer h4.focus, footer h4:focus, footer h4:hover {
    color: black !important;
}

footer i {
    display: inline-block;
    padding-left: 8px;
}

footer h6 {
    text-align: center;
    margin-top: -1px;
}
/*----- Animation -------*/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mouvement_logo {
    0%   {left:-250px;}
    25%  {left:50px; transform: rotate(20deg);}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes mouvement_logo {
    0%   {left:-250px;}
    25%  {left:50px; transform: rotate(20deg);}
    100% {left:0px;}
}

.anim_logo {
    position: relative;
    -webkit-animation-name: mouvement_logo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: mouvement_logo;
    animation-duration: 3s;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes anim_bandeau {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
}

/* Standard syntax */
@keyframes anim_bandeau {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
}

.anim_bandeau {
    position: relative;
    -webkit-animation-name: anim_bandeau; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: anim_bandeau;
    animation-duration: 5s;
}
